@model DomainModels.Models.PatientFile

<tr>
    <td>@Model.Patient.Name</td>
    <td>@Model.Patient.Age</td>
    @if(Model.Patient.IsMale)
    {
    <td>Man</td>
    }
    else
    {
    <td>Vrouw</td>
    }
    <td>@Model.DiagnoseCodeComment</td>
    <td>@Model.MainTherapist.Name</td>
    <td>@Model.RegisterDate</td>
    <td><a class="btn btn-primary" href="@Url.Action("DossierDetails", "Home", new { id = Model.ID})">Meer Info</a></td>
</tr>
