@model DatabaseHandler.Models.Patient

<tr>
    <td>@Model.Name</td>
    <td>@Model.PatientNumber</td>
    <td>@Model.Age</td>
    <td>@Model.Birthdate</td>
    @*<td>@Model.RegisterDate</td>
    <td>@Model.FireDate</td>*@
    <td><a href="@Url.Action("Patients", "Home", new { id = Model.Index})">Meer Info</a></td>
    </tr>
